@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

a#cart-icon-cont {
  position: relative;
}

body {
  font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none;
  transition: all 0.4s ease;
}
a:hover {
  border-bottom-style: dotted;
}
a:link {
  color: #de3f40;
}
a:visited {
  color: #de3f40;
}
label {
  display: block;
}
input {
  border-radius: 10px;
}

#nav-hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(210, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

#cart-qty {
  position: absolute;
  top: -9px;
  background-color: white;
  border: 2px solid #ec292d;
  border-radius: 50%;
  width: 18px;
}
/* Nav component css */
/* nav a {
  display: inline-block;
  margin: 1em;
} */

form div {
  margin: 1em;
  display: inline-block;
}

nav div {
  display: flex;
  justify-content: space-evenly;
  /* background-color: #576974; */
  align-items: center;
}
.navLink {
  color: #de3f40;
  margin-right: 100px;
}

.navLogo {
  padding-left: 100px;
}
a#inner-links {
}
#checkout-icon {
  height: 50px;
}

/* User-home component */
#home {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* Single-Prod summary comp */
.prod-img {
  transition: all 0.4s ease;
  z-index: 1;
  max-height: 200px;
  max-width: 400px;
  min-width: 300px;
  border-radius: 10px;
  margin: 10px;
  justify-content: space-around;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.4);
}
.prod-img:hover {
  transform: scale(1.1);
}
.prod-img:active {
  transform: scale(0.9);
}
.prod-img-summary {
  display: flex;
  flex-direction: column;
}

/* Single Product Detail comp */
#single-detail {
  display: flex;
  justify-content: center;
}
#single-img-details {
  max-width: 500px;
  border-radius: 15px;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.4);
}
#single-prod-info {
  padding-left: 10px;
  max-width: 500px;
}

/* Cart view */

div#shopping {
  font-family: 'Lobster', sans-serif;
  color: blue;
}
.cart-main {
  display: flex;
  justify-content: center;
}
#sidebar {
  background-color: beige;
  box-shadow: 0 4px 20px -2px rgba(0, 0, 0, 0.4);
  margin-left: 50px;
  padding: 20px;
  border-radius: 25px;
}

hr#hr-cart {
  border-top: 1px dashed red;
  width: 80%;
}

#sing-cart-item {
  display: flex;
}

.prod-img-cart {
  transition: all 0.4s ease;
  z-index: 1;
  max-height: 100px;
  max-width: 200px;
  min-width: 150px;
  border-radius: 10px;
  margin: 10px;
  justify-content: space-around;
  box-shadow: 0 4px 9px -2px rgba(0, 0, 0, 0.4);
}
.prod-img-cart:hover {
  transform: scale(1.1);
}
.prod-img-cart:active {
  transform: scale(0.9);
}
p.cart-deets {
  font-size: 15px;
  margin: 2px;
}

h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}
