@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

a#cart-icon-cont {
  position: relative;
}
body {
  font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none;
  transition: all 0.4s ease;
}
a:hover {
  border-bottom-style: dotted;
}
a:link {
  color: #de3f40;
}
a:visited {
  color: #de3f40;
}
label {
  display: block;
}
input {
  border-radius: 10px;
}

#nav-hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(210, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

#cart-qty {
  position: absolute;
  top: -9px;
  background-color: white;
  border: 2px solid #ec292d;
  border-radius: 50%;
  width: 18px;
}
/* Nav component css */
/* nav a {
  display: inline-block;
  margin: 1em;
} */

/* form div {
  margin: 1em;
  display: inline-block;
} */

nav div {
  display: flex;
  justify-content: space-evenly;
  /* background-color: #576974; */
  align-items: center;
}
.navLink {
  color: #de3f40;
  margin-right: 100px;
}

.navLogo {
  padding-left: 100px;
}
a#inner-links {
}
#checkout-icon {
  height: 50px;
}
#google-butt {
  width: 180px;
}
div.form-space {
  padding: 7px;
}
#nav-or {
  margin-bottom: 50px;
  color: #de3e3f;
  padding-left: 40px;
}
.form-space button {
  margin-bottom: 50px;
}
#login-cake {
  max-width: 200px;
  -webkit-animation: jello-horizontal 1.5s 1.2s infinite both;
  animation: jello-horizontal 1.5s 1.2s infinite both;
}
@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

#middle-bit {
  min-width: 200px;
  color: #de3f40;
}
#middle-bit-r {
  text-align: center;
  color: #de3f40;
}
#within-form {
  display: flex;
  flex-direction: column;
  padding: 0px;
}
#auth-greet-1 {
  margin-bottom: 1px;
  font-family: 'Quicksand';
}
#auth-greet-2 {
  margin-top: 0px;
}
#split-form {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
#form-div {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  flex-direction: row;
}
#middle-form {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  min-height: 200px;
  background-color: beige;
  box-shadow: 0 4px 20px -2px rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 25px;
}
sides {
  min-width: 300px;
}
/* User-home component */
#home {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* Single-Prod summary comp */
.prod-img {
  transition: all 0.4s ease;
  z-index: 1;
  max-height: 200px;
  max-width: 400px;
  min-width: 300px;
  border-radius: 10px;
  margin: 10px;
  justify-content: space-around;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.4);
}
.prod-img:hover {
  transform: scale(1.1);
}
.prod-img:active {
  transform: scale(0.9);
}
.prod-img-summary {
  display: flex;
  flex-direction: column;
}
#bold-this-name {
  font-weight: bold;
}
h3#bold-this-name {
  font-weight: bold;
  color: #de3f40;
}

/* Single Product Detail comp */

#single-detail {
  display: flex;
  justify-content: center;
}
#single-img-details {
  max-width: 500px;
  border-radius: 15px;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.4);
}
#single-prod-info {
  padding-left: 10px;
  max-width: 500px;
}

#sing-prod-de {
  max-width: 400px;
  padding-left: 30px;
  padding-bottom: 20px;
}
/* Cart view */

div#shopping {
  font-family: 'Lobster', sans-serif;
  color: #704c3e;
  padding-left: 150px;
  font-size: 2em;
}
div#shopping-summ {
  font-family: 'Lobster', sans-serif;
  color: #704c3e;
  font-size: 1.5em;
  text-align: center;
}
.cart-main {
  display: flex;
  justify-content: center;
}
#sidebar {
  background-color: beige;

  box-shadow: 0 4px 20px -2px rgba(0, 0, 0, 0.4);
  margin-left: 50px;
  padding: 20px;
  border-radius: 25px;
}

hr#hr-cart {
  border-top: 1px dashed red;
  width: 80%;
}

#sing-cart-item {
  display: flex;
}

.prod-img-cart {
  transition: all 0.4s ease;
  z-index: 1;
  max-height: 100px;
  max-width: 200px;
  min-width: 150px;
  border-radius: 10px;
  margin: 10px;
  justify-content: space-around;
  box-shadow: 0 4px 9px -2px rgba(0, 0, 0, 0.4);
}
.prod-img-cart:hover {
  transform: scale(1.1);
}
.prod-img-cart:active {
  transform: scale(0.9);
}
p.cart-deets {
  font-size: 15px;
  margin: 2px;
}

h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}
